<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/static/styles/custom.css" rel="stylesheet">

    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com"rel="preconnect" >
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    
    <title>Desafio CoderHouse</title>
</head>
<body class="d-flex text-center text-bg-dark">
    {{{body}}}
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/scripts/popper.min.js"></script>
    <script src="/static/scripts/bootstrap.min.js"></script>
    <script src="/static/scripts/custom.js"></script>
    <script src="/static/scripts/sweetalert2.js"></script>
</body>
</html>